[user]
	name = Haochuan Liu
    email = haochuan.liu@gmail.com
    username = haochuan
[push]
	default = matching
[core]
	excludesfile = /Users/haochuan/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
    co=checkout
    st=status

[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
